/*Global Elements*/

body {
	font-family: Muli, Helvetica, sans-serif;
	background-color: #456;
	color: #bcd;
}


/* Class Specific Styles */


/* Search Engine Styles */
h1 {
	font-family: Pacifico, cursive, sans-serif;
}
